:root {
  /* teal hex code - #28837a */
  --teal : rgba(40,131,122,255); 
  --tealLight : rgba(40,131,122, 0.2); 
  --white : #ffffff;
  --whiteLight : rgba(255,255,255,0.1);
}

body {
  margin: 0;
  font-family: "Trochut", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Common style sheet START*/
.trochut-regular {
  font-family: "Trochut", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.trochut-bold {
  font-family: "Trochut", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.trochut-regular-italic {
  font-family: "Trochut", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.borel-regular {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}

.custom-container {
  max-width: 1200px;
  margin: auto;
}
/*Common style sheet END*/